body{
    background:  black;
    background-attachment: fixed;
    background-size: cover;
}

#logo {
    width: 30% ;
    height: auto;
    padding-top: 2%;
    margin-bottom: -8%;
}
.btn-index {
    color: #fff;
    background-color: rgba(238, 37, 42, 0.85);
    border-color: transparent;
    font-size: 150%;
    margin-left: 1%;
}
footer{
    margin-top:12%;
}
#cfa{

    width: 5%;
    display: inline-block;
    margin-right: 1%;
    cursor: hand;
}
ul{
    list-style-type: none;
    display: block;
}
li{
    margin-left: 1%;
}
#liste{
    margin-top:6% ;
}
@media only screen and (max-device-width: 760px) {
    body {
        background: black;     }
    #logo {
        width: 50%;
        margin-top: 10%;     }
    .btn{
        margin: 2%;
    }
}
