/*********************************************BODY****************************************/
body{
	width:75%;
	margin:auto;
	background-color:#f1f1f1;
	
}
/*******************************************HEADER******************************************/
h1{
	color:#228B22;
	font-style:italic;
	font-size:200%;
	text-decoration:none;
	width:15%;

}
#connection , h1{
	display:inline-block;
}
#connection{
	margin-left:55%;
	margin-top:3%;
	margin-bottom: 1%;
	width:28%;
	height:15%;
	border-style: solid;
	background-color:white;
}
#form{
	height: 50%;
}
.button {
	border-top: 1px solid #303030;
	background: #303030;
	padding: 5px 10px;
	border-radius: 8px;
	color: white;
	font-size: 14px;
	font-family: Georgia, Serif;
	text-decoration: none;
	vertical-align: middle;
	margin-top:2%;
	
	
}
.button:hover {
	border-top-color: #0d911c;
	background: #0d911c;
	color: #fff7ff;
}
.button:active {
	border-top-color: #303030;
	background: #303030;
}
#avatar{
	width: 50px;
	height: 50px;
}
#login{
	width:55%;
	margin-top:6%;
	margin-left:2%;
}
#login, #connection img {
	display:inline-block;
}
#connection img{
	margin-left:15%;
	margin-bottom:5%;
}

/********************************************LE NAV*****************************************/

#text1 {
	font-weight:bold;
	color:white;
	padding-left:40px;
	padding-right:40px;
	border-radius:8%;
}
#text1:hover{
	background-color:#228B22;
}
/******************************************LE FOOTER*****************************************/
footer{
	background-color:#303030;
	color:white;
	margin-top:2%;
	margin-bottom:1%;
	border:8%;
	height:5%;
}
footer p {
	font-weight:bold;
	text-align: center;
	padding-top:0.5%;

}
/*****************************************ARTICLE********************************************/
#ballon{
	width:50%;
	height:59%;
	padding-top:5%;
	padding-left:5%;

}
article{
	height:90%;
	margin-top:0%;
	background-color:#303030;
}
#row1{
	width:40%;
	margin-top:5%;
	margin-left:5%;
	
}
/****************************************SECTION*********************************************/
section{
	border:3px black solid; 
	margin-left:4%;
	height:33%;
	color:white;
	text-align:center;
}


