    @media only screen and (min-device-width: 760px) {
    body {

        background-color: black;
        background-size: cover;

    }

    .bouton{
        font-size: 150%;
        color: white;
        font-size: bold;
    }
    #logo{
        width: 5%;
        height: auto;
        margin-bottom: 0.2%;
    }

    #liste{
        margin-bottom: -0.5%;
        background-color: rgb(238, 37, 42);
        color:white;
        font-size: bold;

    }
    #central{
        width: 60%;
        margin-top: 8%;
        margin-left: 20%;
        border-radius:2% ;
        background-color: rgba(80, 80, 80, 0.99);
        margin-bottom : 5%;
        color: white;

    }

    #commenter{
        width: 60%;
        margin-top: 1%;
        margin-left: 20%;
        border-radius:2% ;
        background-color: rgba(255, 255, 255, 0.75);
    }

    #sub{
        margin-right: 1%;
        margin-bottom: -2%;
    }
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }

}




@media only screen and (max-device-width: 760px) {
    body {
        background: url('../../source/a.jpg') no-repeat fixed;
        background-size: contain;
    }
    .navbar-fixed-top
    {
        position: fixed;
        top: 0%;
    }

    #liste{
        margin-bottom: -0.5%;
         background-color: rgb(238, 37, 42);
    }
    #central{
        width: 60%;
        margin-top: 25%;
        margin-left: 20%;
        border-radius:2% ;
        background-color: rgba(255, 255, 255, 0.75);
        margin-bottom : 5%;
        color: white;
    }
    #logo {
        width: 25%;
        height: auto;
    }
}
nav{
 background-color: white;
 color:white;
 font-size: bold;

}



.photo{
    margin-top: 2%;
    border:ridge white;
}

#commentaires{
    width: 60%;
    margin-top: 1%;
    margin-left: 20%;
    border-radius:2% ;
    background-color: rgba(255, 255, 255, 0.75);
    margin-bottom : 5%;

}

#commenter{
    width: 60%;
    margin-top: 1%;
    margin-left: 20%;
    border-radius:2% ;
    background-color: rgba(255, 255, 255, 0.75);
    padding-bottom: 0.5%;

}


.stars{
/*inverse la direction*/
unicode-bidi: bidi-override;
/* right to left*/
direction: rtl;


}

.stars span{
display: inline-block;
width: 1em;
font-size: 200%;
cursor: pointer;
color:gold;
}

.stars span:hover:before,
.stars span:hover ~ span:before{
content: '\2605';
position: absolute;
color: gold;
}

.com{
    margin: 1%;
    background-color: white;

}