
#main {
  background-color: #fff;
  margin-left: 1%;
  padding-top: 1%;
  padding-bottom: -1%;
  margin-bot: -5% ;
}
body {
  background-color: black;
  background-size: cover;
  padding-right: 0px;
  padding-left: 0px;
}
        #central{
        width: 60%;
        margin-top: 50%;
        margin-left: 20%;
        border-radius:2% ;
        background-color: rgba(80, 80, 80, 0.99);
        margin-bottom : 5%;
    }

.bouton{
  font-size: 150%;
  color: white;
  font-size: bold;
}
/* Profile container */
.profile {
  margin: 20px 0;
  margin-top: 20%;

}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  border-radius:10px;

}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 80%;
  height: auto;

}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {

  background: #fff;
  min-height: 460px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}




@media only screen and (min-device-width: 760px) {
  body {

    background-color: black;
    background-size: cover;
  }

  .bouton{
    font-size: 150%;
  }
  #logo{
    width: 8%;
    height: auto;
    margin-bottom: 0.1%;

  }

  #liste{
    margin-bottom: -0.5%;


    font-size: bold;
    width: 100%;

  }
  #nav{
    background-color: black;
  }
  #central{
    width: 60%;
    margin-top: 8%;
    margin-left: 20%;
    border-radius:2% ;
    background-color: rgba(255, 255, 255, 0.75);
    margin-bottom : 5%;
  }

  #commenter{
    width: 60%;
    margin-top: 1%;
    margin-left: 20%;
    border-radius:2% ;
    background-color: rgba(255, 255, 255, 0.75);
  }

  #sub{
    margin-right: 1%;
    margin-bottom: -2%;
  }


}

@media only screen and (max-device-width: 760px) {
  body {
    background: black no-repeat fixed;
    background-size: contain;
  }
  .navbar-fixed-top
  {
    position: fixed;
    top: 0%;
  }

  #liste{
    margin-bottom: -0.5%;


    font-size: bold;
    width: 100%;
  }
  .container{
    margin-top: 55%;
  }
  #nav{
    background-color: black;
  }
  #central{
    width: 60%;
    margin-top: 35%;
    margin-left: 20%;
    border-radius:2% ;
    background-color: rgba(255, 255, 255, 0.75);
    margin-bottom : 5%;
  }
  #logo {
    width: 25%;
    height: auto;
  }
  .note{
  font-size: 100%;
  width: 1%;
}
}




.photo{
  margin-top: 2%;
}

#commentaires{
  width: 60%;
  margin-top: 1%;
  margin-left: 20%;
  border-radius:2% ;
  background-color: rgba(255, 255, 255, 0.75);
  margin-bottom : 5%;
}

#commenter{
  width: 60%;
  margin-top: 1%;
  margin-left: 20%;
  border-radius:2% ;
  background-color: rgba(255, 255, 255, 0.75);
  padding-bottom: 0.5%;
}


.stars{
  /*inverse la direction*/
  unicode-bidi: bidi-override;
  /* right to left*/
  direction: rtl;


}

.stars span{
  display: inline-block;
  width: 1em;
  font-size: 200%;

  color: gold;
}

.stars > span:before {
  content: "\2605";
  position: absolute;

  color:gold;
}

.com{
  margin: 1%;
  background-color: white;

}
.note{
  font-size: 200%;
  width: auto;
}