@media only screen and (min-device-width: 760px) {
    body {

        background: url("source/a.jpg") no-repeat fixed;
        background-size: cover;
    }

    .bouton{
        font-size: 150%;
    }
    #logo{
        width: 5%;

        height: auto;

    }
    #liste{
        margin-bottom: -0.5%;
    }
}

nav{
    background-color: white;

}

#central{
    width: 60%;
    margin-top: 8%;
    margin-left: 20%;
    border-radius:2% ;
    background-color: rgba(255, 255, 255, 0.75);
    margin-bottom : 5%;
}
#s{
    margin-top: 1%;
}
.image{
    display: inline-block;
    margin-left: 1%;
    margin-top: 1%;
    width: 30%;
    height: auto;
}
.photo{
    display: inline-block;
    outline: none;
    margin-top: 2px;
    margin-bottom : 2px;
    height: auto;
}

@media only screen and (max-device-width: 760px) {
    body {
        background: url('source/background2.jpg') no-repeat fixed;
        background-size: contain;
    }
    .navbar-fixed-top
    {
        position: fixed;
        top: 0%;
    }

    #liste{
        margin-bottom: -0.5%;
    }
    #central{
        margin-top: 30%;
    }
    #logo {
        width: 15%;
        height: auto;
    }
}