body{

    background: url("source/background1.jpg") no-repeat;

    background-size: cover;
}
#logo {
 padding-top: 1%;
}

.btn-index {
    color: #fff;
    background-color: rgba(12, 91, 137, 0.85);
    border-color: transparent;
    font-size: 200%;

}
ul{
    list-style-type: none;
    display: block;

}
li{
    margin-left: 1%;
}
#liste{
    margin-top:6% ;
}


@media only screen and (max-device-width: 760px) {
    body {
        background-image: url('source/background2.jpg');
    }
    #logo {
        margin-top: 30%;
    }
}
