body{
    background: #282828;
}


.navBar{
    background: #733f29;
    border-radius:5px ;
    padding-right:1% ;
    color: yellow;
}
#navBar{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;

}

#navBar a{
color: white;
}

#central{
    width: 60%;
    margin-top: 3%;
    margin-left: 20%;
    background: #733f29;
    border-radius:5px ;
	margin-bottom : 5%;
}

.photo{
    margin-top: 2%;
	margin-bottom : 2%;
}