@media only screen and (min-device-width: 760px) {
    body {
        background-color: black;
        background-size: cover;
        padding-right: 0px;
        padding-left: 0px;
    }

    .bouton{
        font-size: 150%;
        color: black;
        font-size: bold;
    }
    .bouton:hover{
        color:  white;

    }
    #central{
        width: 60%;
        margin-top: 13%;
        margin-left: 20%;
        border-radius:2% ;
        background-color: rgba(80, 80, 80, 0.99);
        margin-bottom : 5%;
    }
    #logo{
        margin-left: 47%;
        width: 6%;
        height: auto;
        margin-bottom: 0.1%;
        cursor: hand;
    }

    #logo2{
        cursor: hand;
        width: 8%;
        height: auto;
        margin-bottom: 0.1%;
    }
    #liste{
        margin-bottom: -0.5%;
        background-color: rgba(238, 37, 42, 0.85);
        color:black;
        font-size: bold;
        width: 100%;
        margin-left: 0%;

    }
    #cfa{
        width: 5%;
        display: inline-block;
        margin-right: 1%;
        cursor: hand;
    }
    footer{
        color: white;
    }

    #fb{
        background-size: contain ;
        background-attachment: local;
        background-position: 0% 0%;
        background-repeat:no-repeat;
        background-color:transparent;
        height:45px;
        width:45px;
        position: absolute;
        bottom: -7%;

    }

    #insta{
        background-size: contain ;
        background-attachment: local;
        background-position: 0% 0%;
        background-repeat:no-repeat;
        background-color:transparent;
        height:45px;
        width:45px;
        position: absolute;
        bottom: -7%;
        margin-left: 2%;
    }


    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    .supr{
        margin-left: 80%;
    }
}


#s{
    margin-top: 1%;
}

.image{
    display: inline-block;
    margin-left: 1%;
    margin-top: 1%;
    width: 30%;
    height: 25%;
    background-size: contain ;
    background-attachment: local;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    background-color:black;
    border: black ridge;
    margin-bottom: 1%;
}

.photo{

}

@media only screen and (max-device-width: 760px) {
    body {
        background: black no-repeat fixed;
        background-size: contain;
    }
    .navbar-fixed-top
    {
        position: fixed;
        top: 0%;
    }
    .supr{
        margin-left: 50%;
        border-radius:50% ;

        height: 1%;
        font-size: 6px;
    }
    #liste{
        margin-bottom: -0.5%;
        background-color: rgb(238, 37, 42);
        color:white;
        font-size: bold;
        width: 100%;

    }

    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    #central{
        width: 70%;
        margin-top: 50%;
        background-color: rgba(80, 80, 80, 0.99);
        margin-left: 15%;
        margin-bottom: 5%;

    }
    #photos{
        margin-bottom: 1%;
    }
    .image{
        display: inline-block;
        margin-left: 1%;
        margin-top: 1%;
        width: 30%;
        height: 15%;
        background-size: contain ;
        background-attachment: local;
        background-position: 50% 50%;
        background-repeat:no-repeat;
        background-color:black;
        border: black ridge;

    }
    #nav{
        background-color: black;
    }
    a{
        color: white;
    }
    #logo {
        width: 25%;
        height: auto;
    }
}