.bouton{
    font-size: 150%;
    color: black;
    font-size: bold;
}
.bouton:hover{
    color:  white;

}

#logo{
    margin-left: 47%;
    width: 6%;
    height: auto;
    margin-bottom: 0.1%;
    cursor: pointer;
}

#logo2{
    cursor: pointer;
    width: 8%;
    height: auto;
    margin-bottom: 0.1%;
}
#liste{
    margin-bottom: -0.5%;
    background-color: rgba(210, 37, 42, 1);
    color:black;
    font-size: bold;
    width: 100%;
    margin-left: 0%;

}
#cfa{
    width: 5%;
    display: inline-block;
    margin-right: 1%;
     cursor: pointer;
}
footer{
    color: white;
}

#fb{
    background-size: contain ;
    background-attachment: local;
    background-position: 0% 0%;
    background-repeat:no-repeat;
    background-color:transparent;
    height:45px;
    width:45px;
    position: absolute;
    bottom: -7%;
    cursor: pointer;
}

#insta{
    background-size: contain ;
    background-attachment: local;
    background-position: 0% 0%;
    background-repeat:no-repeat;
    background-color:transparent;
    height:45px;
    width:45px;
    position: absolute;
    bottom: -7%;
    margin-left: 2%;
     cursor: pointer;
}

#nav{
    background-color: white;
}

@media only screen and (max-device-width: 760px) {


#logo{
    margin-left: 45%;
    width: 15%;
    height: auto;
    margin-bottom: 0.1%;
    cursor: pointer;
}

#logo2{
    cursor: pointer;
    width: 10%;
    height: auto;
    margin-bottom: 0.1%;
}

#fb{
    background-size: contain ;
    background-attachment: local;
    background-position: 0% 0%;
    background-repeat:no-repeat;
    background-color:transparent;
    height:30px;
    width:30px;
    position: absolute;
    bottom: 0%;
    cursor: pointer;
    margin-left=-5%;
}

#insta{
    background-size: contain ;
    background-attachment: local;
    background-position: 0% 0%;
    background-repeat:no-repeat;
    background-color:transparent;
    height:30px;
    width:30px;
    position: absolute;
    bottom: 0%;
    margin-left: 5%;
     cursor: pointer;
}



}