


footer {
	background-color: #f2f2f2;
	padding: 25px;
	margin-top: 50px;
 }
.copyright {
	background-color: #C0C0C0;

}
.copyright p{
	text-color:white;
	font-family:Times New Roman;
	font-style:normal;
	font-size:0,4em;
}


.p{
	font-family:Times New Roman;
	font-style:normal;
	font-size:0,5em;
}

form{
	background-color: #f1f1f1;
	width:35%;
	margin:auto;
	height:120%;
	border:2px solid #CCC;
	border-radius:2px;
}

h1{
	text-align:center;
	font-size:90%;
	font-weight: bold;
	margin-top: 2%;
}

#submit{
	margin-left:15%;
	margin-top:2%;
	background-color:#008CBA;
	text-decoration:none;
	color:white;
	width:70%;
	height:4%;
	border:2px solid #CCC;
	border-radius:2px;
}
.formu{
	height:11%;
}
.formu1{
	font-weight:bold;
	margin-left:2%;
	text-align:center;
}

input{
	width:55%;
	height:35%;
	border: 1px solid #CCC;
	border-radius:3px;
	outline: none;
}
form input , form label{
	display:block;
	margin:auto;
	margin-top:2%;
}
@media (max-width: 1000px){
	.formu1{
		font-size:60%;
	}
	h1{
		font-size:80%;

	}
	input{
		width:50%;
		height:30%;
		font-size:42%;
	}
	#submit{
		font-size:55%;
	}

	#nomTips , #prenomTips , #pseudoTips , #mdp1Tips , #mdp2Tips{
		font-size:50%;
	}
	#txtdateErreur{
		font-size:50%;
	}
}
@media (max-width: 600px) {
	.formu1 {
		font-size: 30%;

	}

	h1 {
		font-size: 50%;

	}
	form{
		border: 0.5px solid #CCC;
		border-radius:1px;
	}
	form input{
		border: 0.5px solid #CCC;
		border-radius:1px;
	}
	input {
		width: 40%;
		height: 30%;
		font-size: 20%;
	}

	#submit {
		font-size: 25%;
		border: 0.5px solid #CCC;
		border-radius:1px;
	}
	#nomTips , #prenomTips , #pseudoTips , #mdp1Tips , #mdp2Tips{
		font-size:30%;
	}
	#txtdateErreur{
		font-size:30%;
	}
}
	@media (max-width: 300px){
		form{
			border: 0.5px solid #CCC;
			border-radius:1px;
		}
		.formu1{
			font-size:20%;
		}
		h1{
			font-size:10%;
			margin-top:2%;

		}
		input{
			width:40%;
			height:30%;
			font-size:15%;
			border: 0.5px solid #CCC;
			border-radius:1px;
		}
		#submit{
			font-size:15%;
			border: 0.5px solid #CCC;
			border-radius:1px;
		}
		#nomTips , #prenomTips , #pseudoTips , #mdp1Tips , #mdp2Tips{
			font-size:25%;
		}
		#txtdateErreur{
			font-size:25%;
		}

	}
	@media (max-width: 400px){
		form{
			border: 0.5px solid #CCC;
			border-radius:1px;
		}
		.formu1{
			font-size:20%;
			margin-top: 1%;
		}
		h1{
			font-size:30%;
			margin-top:2%;

		}
		input{
			width:40%;
			height:30%;
			font-size:15%;
			border: 0.5px solid #CCC;
			border-radius:1px;
		}
		#submit{
			font-size:15%;
			border: 0.5px solid #CCC;
			border-radius:1px;
			margin-right: 2%;
		}
		#nomTips , #prenomTips , #pseudoTips , #mdp1Tips , #mdp2Tips{
			font-size:20%;
		}
		#txtdateErreur{
			font-size:20%;
		}

	}



#nom , #prenom , #pseudo , #mdp , #mdp2 , #email , #date{
	border-color:gray;


}

#nomTips , #prenomTips , #pseudoTips , #mdp1Tips , #mdp2Tips{
	visibility:hidden;

}

#nomTips , #prenomTips , #pseudoTips , #mdp1Tips , #mdp2Tips{
	visibility:hidden;
	font-weight:bold;
	margin-left:23%;

}
#txtdateErreur{
	margin-left:17%;
}