.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
#main {
    background-color: #fff;
    margin-left: 1%;
    padding-top: 1%;
    padding-bottom: -1%;
    margin-bot: -5% ;
}

   body {

        background-color: black;
        background-size: cover;

    }

    .bouton{
        font-size: 150%;
        color: white;
        font-size: bold;
    }

    #central{
        width: 60%;
        margin-top: 8%;
        margin-left: 20%;
        border-radius:2% ;
        background-color: rgba(80, 80, 80, 0.99);
        margin-bottom : 5%;
        color: white;
    }

.p{
    font-family:Times New Roman;
    font-style:normal;
    font-size:0,5em;
}

.moyenne{
    margin-top: 8%;
}
.classement{
margin-top: 1%;
}
@media only screen and (min-device-width: 760px) {
    body {
        background: black no-repeat fixed;
        background-size: contain;
    }

    .bouton{
        font-size: 150%;
    }
    #logo{
        width: 5%;
        height: auto;
        margin-bottom: 0.1%;
    }

    #liste{
        margin-bottom: -0.5%;
        background-color: rgb(238, 37, 42);
        color:white;
        font-size: bold;
    }
    #central{
        width: 60%;
        margin-top: 10%;
        margin-left: 20%;
        border-radius:2% ;
        background-color: rgba(80, 80, 80, 0.99);
        margin-bottom : 5%;
        color: white;
        padding-bottom: 1%;
    }
    #commenter{
        width: 60%;
        margin-top: 1%;
        margin-left: 20%;
        border-radius:2% ;
        background-color: rgba(255, 255, 255, 0.75);
    }

    #sub{
        margin-right: 1%;
        margin-bottom: -2%;
    }

    .stars{
        /*inverse la direction*/
        unicode-bidi: bidi-override;
        /* right to left*/
        direction: rtl;
        margin-left: 10%;
    }
}


@media only screen and (max-device-width: 760px) {
    body {
        background: black no-repeat fixed;
        background-size: contain;
    }
    .navbar-fixed-top
    {
        position: fixed;
        top: 0%;
    }

    #liste{
        margin-bottom: -0.5%;
        background-color: rgb(238, 37, 42);
        color:white;
        font-size: bold;
    }

    #central{
        width: 60%;
        margin-top: 65%;
        margin-left: 20%;
        border-radius:2% ;
        background-color: rgba(80, 80, 80, 0.99);
        margin-bottom : 5%;
        color: white;
    }
    #logo {
        width: 25%;
        height: auto;
    }
    .stars{
        /*inverse la direction*/
        unicode-bidi: bidi-override;
        /* right to left*/
        direction: rtl;
        margin-left: -1%;
    }
    .stars span {
        display: inline-block;
        width: 1em;
        font-size: 200%;

    }
}
#nav{
    background-color: black;

}



.photo{
    margin-top: 2%;
}

#commentaires{
    width: 60%;
    margin-top: 1%;
    margin-left: 20%;
    border-radius:2% ;
    background-color: rgba(255, 255, 255, 0.75);
    margin-bottom : 5%;
}

#commenter{
    width: 60%;
    margin-top: 1%;
    margin-left: 20%;
    border-radius:2% ;
    background-color: rgba(255, 255, 255, 0.75);
    padding-bottom: 0.5%;

}


.stars{
    /*inverse la direction*/
    unicode-bidi: bidi-override;
    /* right to left*/
    direction: rtl;
    margin-left: 15%;
}

.stars span{
    display: inline-block;
    width: 1em;
    font-size: 200%;

    color: gold;
}

.stars > span:before {
    content: "\2605";
    position: absolute;

    color:gold;
}

.com{
    margin: 1%;
    background-color: white;

}
.note{
    font-size: 200%;
}