@media only screen and (min-device-width: 760px) {
    body {
        background-color: black;
        background-size: cover;
        padding-right: 0px;
        padding-left: 0px;
    }

    .bouton{
        font-size: 150%;
        color: white;
        font-size: bold;
    }
    #logo{
        width: 8%;
        height: auto;
        margin-bottom: 0.1%;

    }
    #liste{
        margin-bottom: -0.5%;
        background-color: rgb(238, 37, 42);
        color:white;
        font-size: bold;
        width: 100%;

    }
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
}

nav{
    background-color: black;

}

#central{
    width: 60%;
    margin-top: 10%;
    margin-left: 20%;
    border-radius:2% ;
    background-color: rgba(255, 255, 255, 0.75);
    margin-bottom : 5%;
}
#s{
    margin-top: 1%;
}


@media only screen and (max-device-width: 760px) {
    body {
        background-color: black;
        background-size: cover;
        padding-right: 0px;
        padding-left: 0px;
    }
    .navbar-fixed-top
    {
        position: fixed;
        top: 0%;
    }

    #liste{
        margin-bottom: -0.5%;
    }
    #central{
        margin-top: 50%;
    }
    #nav{
        background-color: black;
    }
    a{
        color: white;
    }
    #logo {
        width: 25%;
        height: auto;
    }
}