
#main {
    background-color: #fff;
    margin-left: 1%;
    padding-top: 1%;
    padding-bottom: -1%;
    margin-bot: -5% ;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
#nav{
    background-color: black;

}



   body {

        background-color: black;
        background-size: cover;
    }

    .bouton{
        font-size: 150%;
        color: white;
        font-size: bold;
    }


    #central{
        width: 60%;
        margin-top: 20%;
        margin-left: 20%;
        border-radius:2% ;
        background-color: rgba(80, 80, 80, 0.99);
        margin-bottom : 5%;
        padding-bot:1%;
    }


@media only screen and (min-device-width: 760px) {
    body {

        background: black no-repeat fixed;
        background-size: cover;
    }

    .bouton{
        font-size: 150%;
    }
    #logo{
        width: 8%;
        height: auto;
        margin-bottom: 0.1%;

    }
    #liste{
        margin-bottom: -0.5%;
        background-color:red ;
    }
    #central{
        width: 60%;
        margin-top: 12%;
        margin-left: 20%;
        border-radius:2% ;
        background-color: rgba(80, 80, 80, 0.99);
        margin-bottom : 5%;
        color:white;
    }

    #commenter{
        width: 60%;
        margin-top: 1%;
        margin-left: 20%;
        border-radius:2% ;
        background-color: rgba(255, 255, 255, 0.75);
    }

    #sub{
        margin-right: 1%;
        margin-bottom: -2%;
    }


}

@media only screen and (max-device-width: 760px) {
    body {
        background:black no-repeat fixed;
        background-size: contain;
    }
    .navbar-fixed-top
    {
        position: fixed;
        top: 0%;
    }

    #liste{
        margin-bottom: -0.5%;
        background-color: rgb(238, 37, 42);
        color:white;
        font-size: bold;

    }
    #central{
        width: 60%;
        margin-top: 75%;
        margin-left: 20%;
        border-radius:2% ;
        background-color: rgba(80, 80, 80, 0.99);
        margin-bottom : 5%;
        color:white;
    }
    #logo {
        width: 25%;
        height: auto;
    }
}
nav{
    background-color: white;

}






.note{
    font-size: 200%;
}
.compte{
    margin-top: 1%;
}
.add{
    margin-right: 1%;
}

